body {
  background-color: whitesmoke;
}
.container {
  padding: 20px;
  width: 500px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 1px 1px #a2a2a2, -1px -1px #a2a2a2, 1px -1px #a2a2a2,
    -1px 1px #a2a2a2;
  margin-top: 50px;
  background-color: white;
}
.form-title {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input-box {
  margin: 10px;
  padding: 0;
}

.input-box label {
  display: block;
  color: navy;
}

.input-box input {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  outline: none;
  border: 1px solid #a2a2a2;
  border-radius: 3px;
  font-family: monospace;
}
.input-box:last-child {
  text-align: center;
}

/* .input-box{
  background-color: yellow;
} */

.input-box button {
  width: 50%;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid navy;
  color: navy;
  margin: auto;
  display: inline;
  user-select: none;
  background-color: white;
  transition-duration: 0.2s;
  margin-top: 10px;
}

.input-box button:hover {
  color: white;
  background-color: navy;
}
