body{
    background-color: whitesmoke;
}

.container{
    text-align: center;
}


.product{
    width: 300px;
    display: inline-block;
    background: white;
    margin: 5px;
    border-radius: 5px;
    text-align: left;
    padding: 0;
    transition-duration: 1s;
}
.product h2{
    margin: 5px;
    padding: 5px;
    color: teal;
    font-family: monospace;
}

.product p{
    margin: 5px;
    font-family: monospace;
}

.product:hover{
    transform: scale(1.1);
}